.cv-container {
    position: relative;
    height: 100%;
    display: inline-block;
}

.cv {
    object-fit: fill;
    width: 700px;
    height: auto;
}

.arrow {
    all: unset; 
    display: block;
    position: absolute;
    top: 50%; 
    bottom: 0; 
    padding: 1rem; 
    cursor: pointer;
}

.arrow:hover {
    color: blue;
}

#next {
    right: 0; 
}

#back {
    left: 0;
}